.body {
display: flex; 
flex-direction: column;
height: 200%; 
margin: 0; 
padding: 0;
background-color: red;
}

.brugerinfo-nav { 
  display: flex; 
  justify-content: flex-end; 
  list-style-type: none;
  margin-top: 20px;
  margin-left: -20px;
}

.brugerinfo-gmail-link-nav { 
margin-left: 20px;
list-style-type: none;
}

.link-billeder-nav {
  margin-left: 20px; 
  list-style-type: none;
}

.logo {
  float: left;
  height: 10px;
  position: relative;
  padding-top: 109px;
  padding-left: 300px;
  width: 272px;
  height: 92px;
}

.main {
  flex: 1 0 auto; 
  margin-top: auto;
}


.footer {
  background: rgb(242, 242, 242); 
  flex-shrink: 0; 
  display: flex;
}

.footer-nav-left { 
  display: inline-flex;
  margin-left: -800px;
  text-decoration: none;
  font-family: arial, sans-serif;
  list-style-type: none;
}

.footer-nav-right {
  display: flex;
  justify-content: flex-end;
  margin-top: -19px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-family: arial, sans-serif;
  list-style-type: none; 
}